<!-- Email input -->
<div class="bgimg">
  <table align="center">
    <tr>
      <td>
         <div class="sign"><form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
               
   <div class="form-outline mb-4">
    <form #loginform="ngForm" (ngSubmit)="loginUser()"> <!--(ngSubmit)="insertdetails(insert)"-->  
      <small class="text-danger">{{msg}}</small><br>
      <!-- <small class="text-success">{{msg1}}</small>  -->
      <label class="form-label" for="form2Example1">Registered Email</label>
      <input   type="email" [(ngModel)]="answer1.email" id="email" name="email"  class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      #email="ngModel">
      <div *ngIf="email.invalid && email.touched"><small class="text-muted">Enter correct email</small></div>

   <br><br>
  
    <!-- Password input -->
    <label class="form-label" for="form2Example2">Answer the question below<br>What is your favourite color?</label>

      <input  required minlenth="4" type="text" [(ngModel)]="answer1.answer" name="answer" id="answer" class="form-control" #answer="ngModel" >
    
    <!-- Submit button -->
    <button [disabled]="loginform.form.invalid" class="w-100 btn btn-lg btn-primary" type="submit"  ><span>Submit</span></button>

</form>
</div></div>


