<!-- <div *ngIf="router.url!='/fruits-and-vegetables1'"> -->
<!-- <div *ngIf="router.url!='/afterloginnavigation'"> -->
  <app-adminnavbar></app-adminnavbar>
   
  

<table class="table">
    <tr >
       
            <td><button type="button" class="btn" routerLink="/adminGotList" routerLinkActive="active">Today's Order</button></td>
            <td><button type="button" class="btn" routerLink="/adminPaymentVerification" routerLinkActive="active">Payment Received
            </button></td>
            <td><button type="button" class="btn" routerLink="/adminUpdate" routerLinkActive="active">Update Products
            </button></td>
            <td><button type="button" class="btn" routerLink="/fruits-and-vegetables-admin" routerLinkActive="active">Product List
            </button></td>

            <!-- <td><button type="button" class="btn" routerLink="/customerDetails">Customer Details</button></td> -->
        <!-- <td><button type="button" class="btn">Total Registered Customers</button></td>
        <td><button type="button"class="btn">Feedback from customers</button></td></tr><br><br>
         -->
        <tr >
           
        
</table>





<!-- ======= Header ======= -->

<header id="header" class="d-flex align-items-center">
  
  
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="/adminhome">Flying Cart<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
  
      <!-- <nav id="navbar" class="navbar">
        <ul>
  
          <li><a class="nav-link scrollto active" href="" routerLink="/adminhome" routerLinkActive="active">Home</a></li>
           <li><a class="nav-link scrollto" href="" routerLink="/userabout" routerLinkActive="active">About</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="" routerLink="/adminmenu" routerLinkActive="active">Menu</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="" routerLink="/userspecials" routerLinkActive="active">Specials</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="" routerLink="/userbooktable" routerLinkActive="active">Book a Table</a></li> -->
          <!-- <li><a class="nav-link scrollto dropdown gall" href="" routerLink="/admincartlist" routerLinkActive="active">Cart List</a></li> 
          <li><a class="nav-link scrollto dropdown gall" href="" routerLink="/adminuserlist" routerLinkActive="active">User List</a></li> 
          <li><a class="nav-link scrollto dropdown gall" href="" routerLink="/adminviewbook" routerLinkActive="active">Booked Table</a></li> 
          <li><a class="nav-link scrollto dropdown gall" href="" routerLink="/adminmenulist" routerLinkActive="active">Menu List</a></li> 
          <li><a class="nav-link scrollto " href="" routerLink="/login" routerLinkActive="active">Logout</a></li>
        
  
        </ul> -->
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      <!-- </nav> -->
      <!-- <button routerLink="/addtocart" class="btn btn-primary cart-icon">
        <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button> -->
  
      <!-- <a href="" class="get-started-btn scrollto" routerLink="login" routerLinkActive="active">Login</a>
              <a href="" class="get-started-btn scrollto" routerLink="booktable" routerLinkActive="active">Book a Table</a> -->
  
  
    </div>
  </header><!-- End Header -->
  
  <!-- Carousel Start -->
  <!-- <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.05s">
      <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="w-100" src="assets/slider01.jpg" alt="Image">
                  <div class="carousel-caption">
                      <div class="container">
                          <div class="row justify-content-start">
                              <div class="col-lg-7">
                                  <h1 class="display-2 mb-5 animated slideInDown">Discover the best food & drinks in Pune</h1>
                                  <a href="/adminmenu" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Menus</a> -->
                                  <!-- <a href="/contact" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Contact Us</a> -->
                              <!-- </div>
                       </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="w-100" src="assets/slider2.jpg" alt="">
              </div>
              <div class="carousel-item">
                  <img class="w-100" src="assets/slider03.jpg" alt="">
              </div> -->
              <!-- <div class="carousel-item">
                  <img class="w-100" src="assets/slider4.jpg" alt="">
              </div> -->
          <!-- </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div> -->
    <!-- Carousel End -->
  
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
      <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <h1>Welcome to <span> Home</span></h1>
            <h2 class="del">Get readay to ship the products to <strong style="color: rgba(247, 85, 85, 0.7);"> customers</strong></h2>
  
            <!-- <div class="btns">
             <a href="/adminmenu" class="btn-menu animated fadeInUp scrollto">Our Menu</a> -->
            <!-- <a href="/" class="btn-book animated fadeInUp scrollto">Book a Table</a> -->
            <!-- </div> -->
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
            <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
          </div>
  
        </div>
      </div>
    </section><!-- End Hero -->