
 <div *ngIf="_router.url != '/beauty'">
  <div *ngIf="_router.url != '/babycare'">
    <div *ngIf="_router.url != '/beverages'">

    <div *ngIf="_router.url != '/bakery'">
      <div *ngIf="_router.url != '/Cleaning'">
        <div *ngIf="_router.url != '/customer'">
          <div *ngIf="_router.url != '/food-grains-and-masala'">
          <div *ngIf="_router.url != '/fruits-and-vegetables'">
          <div *ngIf="_router.url != '/kitchen'">
            <div *ngIf="_router.url != '/login'">
              <div *ngIf="_router.url != '/snacks'">
                <div *ngIf="_router.url != '/storekeeper'">
                  <div *ngIf="_router.url != '/customer'">
                    <div *ngIf="_router.url != '/signup'">
                      <div *ngIf="_router.url != '/adminlogin'">
                        <div *ngIf="_router.url != '/cart'">
                          <div *ngIf="_router.url != '/admin'">
                            <div *ngIf="_router.url != '/adminlogin'">


          <div *ngIf="_router.url != '/customer'">
            <div *ngIf="_router.url != '/navigation'">

              <div *ngIf="_router.url != '/body'">

              <div *ngIf="_router.url != '/bodybeforelogin'">
                <div *ngIf="_router.url != '/me'">
                  <div *ngIf="_router.url != '/updatepassword'">
                    <div *ngIf="_router.url != '/changepassword'">
                      <div *ngIf="_router.url != '/userme'">
                        <div *ngIf="_router.url != '/admin'">
                          <div *ngIf="_router.url != '/adminUpdateProducts'">
                            <div *ngIf="_router.url != '/userchangepassword'">
                              <div *ngIf="_router.url != '/userchangepassword'">
                                <div *ngIf="_router.url != '/userchangepassword'">



<div  id ="background" class="text-center">
  <h1 class="display-5 fw-bold">Flying Cart</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Pick your Needy-Our Carts will reach you.</p>
   
    <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
    -->
  </div>
</div>
</div>
