<div class="background12"><div  class="sign">
  <form #insert="ngForm" (ngSubmit)="insertdetails(insert)" 

  class="p-4 p-md-5 border rounded-3 bg-light">
  <small class="text-danger">{{msg}}</small><br>

  <div class="form-floating mb-3">
    <input type="text" class="form-control"onkeyup="if(this.value.length > 0) document.getElementById('start_button').disabled = false; else document.getElementById('start_button').disabled = true;" id="floatingInput"  name="username"  ngModel="username" #username="ngModel">
    <div *ngIf=" username.touched">
      </div> 

  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" name="email"  ngModel="email"required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    #email="ngModel">
      <div *ngIf="email.invalid && email.touched"><small class="text-muted">Enter correct email</small></div>


  </div>
  <div class="form-floating mb-3">
    
    <input type="text" class="form-control" onkeyup="if(this.value.length > 0) document.getElementById('start_button').disabled = false; else document.getElementById('start_button').disabled = true;"id="floatingPassword" name="password"  ngModel="password"
    #password="ngModel">
    <label for="floatingPassword">Password</label>     
    <div *ngIf="password.touched">
    </div>
   </div>
   <div class="form-floating mb-3">
    
    <input type="text" class="form-control" onkeyup="if(this.value.length > 0) document.getElementById('start_button').disabled = false; else document.getElementById('start_button').disabled = true;"id="floatingPassword" name="contact"  ngModel="contact"
    #password="ngModel">
    <label for="floatingPassword">Contact No</label>     
    <div *ngIf="password.touched">
    </div>
   </div>
  
  <!-- <div><input type="text" placeholder="answer" name="answer"ngModel="answer"><label>What is your favourite color</label></div> -->
  <button [disabled]="insert.form.invalid" id="start_button"class="w-100 btn btn-lg btn-primary" type="submit"  ><span>Sign up</span></button>
  <!-- <button [disabled]="loginform.form.invalid" class="w-100 btn btn-lg btn-primary" type="submit"  ><span>Login</span></button> -->

  <!-- <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small> -->
  
</form></div>
</div>
