<div id="navbar"><nav class="navbar navbar-expand-lg bg-light">
 
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/afternavigation">Home</a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <!-- <form class="d-flex" role="search"> -->
          <div class="form-group"><input class="form-control me-2"[(ngModel)]="searchTerm" (keyup)="search($event)" type="search" placeholder="Search" aria-label="Search">
          </div>
          <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
          <!-- <button class="btn btn-success" type="submit">Search</button> -->
        <!-- </form> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by Categories
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/body" routerLinkActive="active" href="">Fruits & Vegetables</a></li>
            
            <li><a class="dropdown-item" routerLink="/food-grains-and-masala" routerLinkActive="active" href="">Foodgrains, Oil & Masala</a></li>
            <li><a class="dropdown-item" routerLink="/bakery" routerLinkActive="active" href="">Bakery,Cakes & Dairy</a></li>
            <li><a class="dropdown-item" routerLink="/beverages" routerLinkActive="active" href="">Beverages</a></li>
            <li><a class="dropdown-item" routerLink="/snacks" routerLinkActive="active" href="">Snacks & Branded Foods</a></li>
            <li><a class="dropdown-item" routerLink="/beauty" routerLinkActive="active" href="">Beauty & Hygine</a></li>
            <li><a class="dropdown-item" routerLink="/cleaning" routerLinkActive="active" href="">Cleaning & Household</a></li>
            <li><a class="dropdown-item" routerLink="/kitchen" routerLinkActive="active" href="">Garden & Pets</a></li>
            <li><a class="dropdown-item" routerLink="/babycare" routerLinkActive="active" href="">Baby Care</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> 
        </li>
       
      </ul> 

      <button class="btn  btn-primary bg-dark"routerLink="/cart" routerLinkActive="active" href="">
        <i class="fa-solid fa-cart-shopping"></i>       
         <div style="font-size:10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>
   
     

      <!-- <button type="button" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
</svg>
        Cart
      </button> -->
      <a class="navbar-brand" routerLink="/login" routerLinkActive="active" href="">Logout</a>

    </div>
  </div>
</nav></div>
<!-- </div> -->


<!-- </div> -->

 <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>-->
 <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop By Categories</a>
        </li> -->